<%= turbo_frame_tag "researchers" do %>

  <div class="flex flex-col container max-w-md mt-10 mx-auto w-full items-center justify-center bg-white dark:bg-gray-800">
    <ul class="flex flex-col divide-y w-full">
      <% @resources.each do |resource| %>
        <li class="flex flex-row">
          <div class="select-none cursor-pointer hover:bg-gray-50 flex flex-1 items-center p-4">
            <div class="flex-1 pl-1">
              <%= link_to resource.long_url, class: "font-medium dark:text-white", target: "_blank", data: { turbo_frame: "_top"} %>
              <div class="text-gray-600 dark:text-gray-200 text-sm">Count: <%= resource.clicked %></div>
            </div>
            <div class="flex flex-row justify-center">
              <div class="text-gray-600 dark:text-gray-200 text-xs">6:00 AM</div>
              <button class="w-10 text-right flex justify-end">
                <svg width="20" fill="currentColor" height="20" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"></path>
                </svg>
              </button>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>