    <header class="max-w-lg mx-auto">
        <a href="/">
            <h1 class="text-4xl font-bold text-white text-center">URL_Shortener</h1>
        </a>
    </header>

    <main class="bg-white max-w-3xl mx-auto p-8 md:p-12 my-10 shadow-2xl">
        <section>
            <h3 class="font-bold text-2xl">Welcome to URL_Shortener</h3>
            <p class="text-gray-600 pt-2">Paste the original url here.</p>
        </section>

        <section class="mt-10">
          <%= form_with url: "resources/create", method: :post, data: { turbo_frame: "resources" } do |form| %>
            <div class="flex items-stretch mt-5">
                <%= form.url_field :long_url, class: " bg-gray-50 rounded-r-none text-base leading-none text-gray-800 p-2 w-4/5 border border-gray-300 focus:outline-none focus:border-gray-500", placeholder: "Longer url .. ", required: true %>
                <%= form.submit "shorten", class: "w-32 cursor-pointer rounded-l-none hover:bg-indigo-600 bg-indigo-700 text-xs font-medium leading-none text-white p-2 uppercase focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700" %>
            </div>
            <div class="flex mt-2">
                <span class="inline-flex items-center px-3 text-sm text-gray-800 bg-slate-200">
                    localhost:3000/url/
                </span>
                <input type="text" id="website-admin" class="rounded-none bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2" placeholder="Bonnie Green">
            </div>
          <% end %>
        </section>

        <%= render "resources", resources: @resources %>
    </main>

    <footer class="max-w-xl mx-auto flex justify-center text-white">
        <a href="https://www.linkedin.com/in/wuletaw-wonte" target="_blank" class="hover:underline">Contact</a>
        <span class="mx-3">•</span>
        <a href="https://github.com/wuletawwonte/url-shortener" target="_blank" class="hover:underline">Github</a>
    </footer>
